<!-- Global layout for page with banner sidebar -->
<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-4 pl-lg-0">
        <!-- Sidebar with background image -->
        <div class="sidebar-container">
            <p class="caption">{{paymentCaption}}</p>
        </div>
        </div>
        <div class="col-lg-8 col-md-12 pr-lg-0">
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
     
