//Component specific styles
@import 'variables';


.board-img { width: 35px;margin: 0 auto; }

//Media query

//For devices upto tablet
@media(min-width:768px){
    .default-card{
        min-height: 610px;
    }
    .section-heading{
        margin: 60px 0 30px;
    }
    .btn-primary{
        margin-top: 114px;
    }
}

//For Mobile devices
@media(max-width:767px){
    .section-heading{
        margin:20px 0;
    }
    .note-tag{
        font-size: $font-xs-16;
    }
    .btn-primary{
        margin-top: 40px;
    }
  .board-img { width: 20px; }
}
